:root {
  --gray: #333333;
  --yellow: #FEF452;
  --purple: #942F70;

  --font-inter: 'Inter';
  --font-neuve: 'Neue Haas Grotesk Display Pro';
  --font-proxima: 'Proxima Nova';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  margin: 0;
  background: linear-gradient(138.11deg, #FEF452 0%, #942F70 121.92%);

  padding-top: 22.22px;
}
